/* css styles */



/*-- scss:rules --*/
ul {
  list-style-type: square;
}

ul li::before {
  color: red; /* Change the color */
}

.reveal ul {
  
  list-style-type: square;
}

.math.inline {
  font-size: 90%;
}
.math.display {
  font-size: 90%;
}

.darkred{
  color: #DF0606;
}

.orange{
   color:#D55E00; 
   font-weight: bold;
}

.blue{
   color: #1170aa;
   font-weight: bold;
}

.darkblue{
   color: Darkblue;
   font-weight: bold;
}

.grey{
   color:#a3acb9;
   font-weight: bold;
}